<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>식품 성분 검색 결과</title>
    <!-- 아래는 디펜던시 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dependency/bootstrap-4.1.3-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dependency/fontawesome-free-5.5.0-web/css/all.css') }}">
    <script src="{{ url_for('static', filename='dependency/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dependency/bootstrap-4.1.3-dist/js/bootstrap.bundle.js') }}"></script>
    <link rel="stylesheet" href="../static/css/result.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/advanced_result.css">
</head>
<body>
<header>
    <a id="food_nut_logo" href="/"><h1>식품영양정보</h1></a>
    <div id="univ_logo">
        <img height="35px" src="{{ url_for('static', filename='img/univ_logo/erica.png') }}">
        <img height="25px" src="{{ url_for('static', filename='img/univ_logo/unist.png') }}">
        <img height="30px" src="{{ url_for('static', filename='img/univ_logo/gyeongbuk.png') }}">
    </div>
</header>
    <div id="subject" class="row p-0 m-0">
        <div class="col-9">
            <h2>식품 성분 검색 : 검색 결과</h2>
        </div>
        <div class="search_change_button col-3">
           <a href="{{ url_for('ir_search', key_and=key_and, key_exactly=key_exactly, key_or=key_or, category=category, key_except=key_except, selected='None', range_min=0, range_max=255, value_min=0, value_max=16000) }}"><p>전문가용 검색</p></a>
        </div>
    </div>
    <section>
        <form action="{{ url_for('search') }}" method="get" id="header_search_box">
            <div class="input-group mb-3">
                <select class="custom-select col-2" name="category" id="option_category" aria-label="Example select with button addon">
                    <option value="">모두</option>
                    <option value="alcohol">술</option>
                    <option value="biscuit">과자</option>
                    <option value="bread">빵</option>
                    <option value="candy">사탕</option>
                    <option value="chocolate">초콜릿</option>
                    <option value="dairy">유제품</option>
                    <option value="farm_fridge">농산물(냉동)</option>
                    <option value="farm_ordinary">농산물(상온)</option>
                    <option value="honey">꿀</option>
                    <option value="instant_fridge">인스턴트(냉동)</option>
                    <option value="instant_ordinary">인스턴트(상온)</option>
                    <option value="paste">장</option>
                    <option value="salty">절임·조림</option>
                </select>
                <input type="text" class="form-control" name="key_or" id="key_or" value="{{ key_or }}" aria-label="Text input with dropdown button">
                <div class="input-group-append">
                    <input type="submit" class="btn btn-outline-secondary" value="검색" >
                </div>
            </div>
        </form>
        <div id="searched_foods" class="row">
            {% for food in foods %}
            <div class="col-4">
                <div class="food_card row border rounded m-1 p-0">
                    <a data-toggle="modal" data-target="#{{ food['category'] }}_{{ food['id'] }}" class="row"><img src="/images/exterior/{{ food['category'] }}/{{ food['id'] }}.jpg" alt="Card image cap"></a>
                    <div class="col-12">
                        <h5 class="card-title">{{ food['name'] }}</h5>
                        <p><span class="food_badge">
                            {% if food['calorie'] != None %}
                                {{ food['calorie'] }} Kcal
                            {% else %}
                                칼로리 정보 없음
                            {% endif %}
                        </span></p>
                        <div class="modal fade" id="{{ food['category'] }}_{{ food['id'] }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">"{{ food['name'] }}"의 영양정보</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div class="row col-12">
                                 <div class="col-4">
                                     <div class="card text-white bg-primary mb-3" id="nutrition_grade">
                                         <div class="card-header">열량</div>
                                         <div class="card-body">
                                             <p class="card-text">{{ food['calorie'] }}</p>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-8" id="nutrition_detail">
                                     <div class="card bg-light mb-3">
                                         <div class="card-header">카테고리 : {{ food['category'] }}</div>
                                         <div class="card-body">
                                             <dl>
                                                 <dt>총 제공량(g)</dt>
                                                 {% if food['amount'] %}
                                                 <dd>{{ '{0:.1f}'.format(food['amount']) }}</dd>
                                                 {% else %}
                                                 <dd>정보 없음</dd>
                                                 {% endif %}
                                                 <dt>1회 제공량(g)</dt>
                                                 {% if food['portion'] %}
                                                 <dd>{{ '{0:.1f}'.format(food['portion']) }}</dd>
                                                 {% else %}
                                                 <dd>정보 없음</dd>
                                                 {% endif %}
                                                 <dt>열량(Kcal)</dt>
                                                 {% if food['calorie'] %}
                                                 <dd>{{ '{0:.1f}'.format(food['calorie']) }}</dd>
                                                 {% else %}
                                                 <dd>정보 없음</dd>
                                                 {% endif %}
                                             </dl>
                                             <dl>
                                                 <dt>탄수화물(g)</dt>
                                                 {% if food['carbohydrate'] %}
                                                 <dd>{{ '{0:.1f}'.format(food['carbohydrate']) }}</dd>
                                                 {% else %}
                                                 <dd>정보 없음</dd>
                                                 {% endif %}
                                                 <dt>단백질(g)</dt>
                                                 {% if food['protein'] %}
                                                 <dd>{{ '{0:.1f}'.format(food['protein']) }}</dd>
                                                 {% else %}
                                                 <dd>정보 없음</dd>
                                                 {% endif %}
                                                 <dt>지방(g)</dt>
                                                 {% if food['fat'] %}
                                                 <dd>{{ '{0:.1f}'.format(food['fat']) }}</dd>
                                                 {% else %}
                                                 <dd>정보 없음</dd>
                                                 {% endif %}
                                                 <dt>나트륨(mg)</dt>
                                                 {% if food['natrium'] %}
                                                 <dd>{{ '{0:.1f}'.format(food['natrium']) }}</dd>
                                                 {% else %}
                                                 <dd>정보 없음</dd>
                                                 {% endif %}
                                             </dl>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="page_num">
            <nav id='page_nav' aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" href="{{ url_for('search', key_and=key_and, key_exactly=key_exactly, key_or=key_or, key_except=key_except, page_number=1) }}" aria-label="처음">
                        <span aria-hidden="true">처음</span>
                        <span class="sr-only">처음</span>
                      </a>
                    </li>
                    {% for number in range(this_page_number - 4, this_page_number + 5) if not number > last_page_number and not number < 1%}
                        <li class="page-item"><a class="page-link" href="{{ url_for('search', key_and=key_and, key_exactly=key_exactly, key_or=key_or, key_except=key_except, page_number=number) }}">{{ number }}</a></li>
                    {% endfor %}
                    <li class="page-item">
                      <a class="page-link" href="{{ url_for('search', key_and=key_and, key_exactly=key_exactly, key_or=key_or, key_except=key_except, page_number=last_page_number) }}" aria-label="마지막">
                        <span aria-hidden="true">마지막</span>
                        <span class="sr-only">마지막</span>
                      </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</body>
</html>